.bootslander-feature-section{
    padding: 60px 0px;
    .features-inner-bg{
        padding: 20px;
        background: #f5f5ff;
        display: flex;
        align-items: center;
        .features-sub-heading{
            font-family: "Montserrat-SemiBold";
            font-size: 18px;
            margin-bottom: 0;
            margin-left: 10px;
            a{
                color: #010483;
                text-decoration: none;
            }
        }
    }
    .margin-top-bottom{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.feature-bottom-section{
    background-color: #f5f5ff;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    .feature-card-white-bg{
        background-color: #fff;
        position: relative;
        padding: 30px 0 10px;
        .feature-card-icon-parent{
            font-size: 20px;
            background: #1acc8d;
            padding: 12px;
            color: #fff;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -25px;
            left: 42%;
            right: 0%;
        }
        .count-number{
            font-size: 36px;
            display: block;
            font-weight: 600;
            color: #010483;
            font-family: "OpenSans-SemiBold";
        }
        p{
            font-size: 14px;
            font-family: "Montserrat-Regular";
        }
    }
}