.bootslander-feature-section{
    padding: 60px 0px;
    .features-inner-bg{
        padding: 20px;
        background: #f5f5ff;
        display: flex;
        align-items: center;
        .features-sub-heading{
            font-family: "Montserrat-SemiBold";
            font-size: 18px;
            margin-bottom: 0;
            margin-left: 10px;
            a{
                color: #010483;
                text-decoration: none;
            }
        }
    }
    .margin-top-bottom{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}