<div class="bootslander-navbar-parent">
    <nav class="navbar navbar-expand-sm container">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">Bootslander</a>
        
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/home-page-component">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-page-component" routerLink="/about-page-component">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/features-component" routerLink="/features-component">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery-component" routerLink="/gallery-component">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team-page-component" routerLink="/team-page-component">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pricing-component" routerLink="/pricing-component">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project-page-component" routerLink="/project-page-component">Drop Down</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-page-component" routerLink="/contact-page-component">Contact</a>
            </li>
        </ul>
    </nav>
</div>
