<section id="about" class="bootslander-about-section">
    <div class="row">
        <div class="col-lg-5">
            <div>
                <img class="img-fluid" src="/assets/img/about.png" alt="">
            </div>
        </div>
        <div class="col-lg-7">
            <div>
                <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
                <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>
            </div>
            <div>
                <div class="about-parent-row">
                    <div class="row">
                        <div class="col-lg-1">
                            <!-- <i class="fa fa-address-book" aria-hidden="true"></i> -->
                            <div class="bx-icon-container">
                                <i class="bx bx-fingerprint"></i>
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <div>
                                <h4 class="bx-icon-heading">
                                    <a href>Lorem Ipsum</a>
                                </h4>
                                <p class="about-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-parent-row">
                    <div class="row">
                        <div class="col-lg-1">
                            <!-- <i class="fa fa-address-book" aria-hidden="true"></i> -->
                            <div class="bx-icon-container">
                                <i class="bx bx-gift"></i>
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <div>
                                <h4 class="bx-icon-heading">
                                    <a href>Nemo Enim</a>
                                </h4>
                                <p class="about-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-parent-row">
                    <div class="row">
                        <div class="col-lg-1">
                            <!-- <i class="fa fa-address-book" aria-hidden="true"></i> -->
                            <div class="bx-icon-container">
                                <i class="bx bx-atom"></i>
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <div>
                                <h4 class="bx-icon-heading">
                                    <a href>Dine Pad</a>
                                </h4>
                                <p class="about-description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
