<section>
    <div class="container">
        <div class="bootslander-gallery-section">
            <p class="bootslander-small-heading">Gallery</p>
            <h2 class="primary-heading">CHECK OUR GALLERY</h2>

            <div class="row">
                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-1.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-2.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-3.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-4.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-5.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-6.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-7.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="gallery-image-card">
                        <img class="img-fluid" src="/assets/img/gallery/gallery-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
