<section>
    <div class="pricing-section">
        <div class="container">
            <p class="bootslander-small-heading">Pricing</p>
            <h2 class="primary-heading">CHECK OUR PRICING</h2>
            <div class="row">
                <div class="col-lg-3">
                    <div class="pricing-card-parent">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-heading">Free</p>
                            </div>
                            <div class="card-body">
                                <h2 class="price-tag"><span class="price-tag-dollar">$</span>0 <span class="price-per-month">/ month</span></h2>
                                <ul class="card-body-ul">
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li class="card-body-li">Pharetra massa</li>
                                    <li class="card-body-li">Massa ultricies mi</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-buy">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="pricing-card-parent">
                        <div class="card">
                            <div class="card-header business-header">
                                <p class="card-heading">Business</p>
                            </div>
                            <div class="card-body">
                                <h2 class="price-tag"><span class="price-tag-dollar">$</span>19 <span class="price-per-month">/ month</span></h2>
                                <ul class="card-body-ul">
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li class="card-body-li">Massa ultricies mi</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-buy">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="pricing-card-parent">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-heading">Developer</p>
                            </div>
                            <div class="card-body">
                                <h2 class="price-tag"><span class="price-tag-dollar">$</span>29 <span class="price-per-month">/ month</span></h2>
                                <ul class="card-body-ul">
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-buy">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="pricing-card-parent">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-heading">ultimate</p>
                                <div class="advanced-banner">
                                    <p class="advanced-text">Advanced</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h2 class="price-tag"><span class="price-tag-dollar">$</span>49 <span class="price-per-month">/ month</span></h2>
                                <ul class="card-body-ul">
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-buy">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
