<section class="testimonials">
    <div class="container">
        <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                <li data-target="#testimonials-carousel" data-slide-to="3"></li>
                <li data-target="#testimonials-carousel" data-slide-to="4"></li>
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div>
                        <img class="img-fluid testimonials-profile-dp" src="/assets/img/testimonials/testimonials-1.jpg" alt="">
                        <h3>Saul Goodman</h3>
                        <p class="testimonials-designation">Ceo & Founder</p>
                        <p class="testimonials-says-text">
                            <i class="bx bxs-quote-alt-left icon-style quote-icon-left"></i>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <i class="bx bxs-quote-alt-right icon-style quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div>
                        <img class="img-fluid testimonials-profile-dp" src="/assets/img/testimonials/testimonials-2.jpg" alt="">
                        <h3>Sara Wilsson</h3>
                        <p class="testimonials-designation">Designer</p>
                        <p class="testimonials-says-text">
                            <i class="bx bxs-quote-alt-left icon-style quote-icon-left"></i>
                             Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right icon-style quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div>
                        <img class="img-fluid testimonials-profile-dp" src="/assets/img/testimonials/testimonials-3.jpg" alt="">
                        <h3>Jena Karlis</h3>
                        <p class="testimonials-designation">Store Owner</p>
                        <p class="testimonials-says-text">
                            <i class="bx bxs-quote-alt-left icon-style quote-icon-left"></i>          
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right icon-style quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div>
                        <img class="img-fluid testimonials-profile-dp" src="/assets/img/testimonials/testimonials-4.jpg" alt="">
                        <h3>Matt Brandon</h3>
                        <p class="testimonials-designation">Freelancer</p>
                        <p class="testimonials-says-text">
                            <i class="bx bxs-quote-alt-left icon-style quote-icon-left"></i>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            <i class="bx bxs-quote-alt-right icon-style quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div>
                        <img class="img-fluid testimonials-profile-dp" src="/assets/img/testimonials/testimonials-5.jpg" alt="">
                        <h3>John Larson</h3>
                        <p class="testimonials-designation">Entrepreneur</p>
                        <p class="testimonials-says-text">
                            <i class="bx bxs-quote-alt-left icon-style quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right icon-style quote-icon-right"></i>
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Left and right controls -->
            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a> -->
        </div>
    </div>
</section>
