<section class="bootslander-home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <a href="" class="bootslander-play"></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div>
                    <img class="img-fluid" src="/assets/img/hero-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="bootslander-about-section">
    <div class="row">
        <div class="col-lg-5">
            <div>
                <img class="img-fluid" src="/assets/img/about.png" alt="">
            </div>
        </div>
    </div>
</section>
