<section>
    <div class="container">
        <div class="bootslander-contact-us-section">
            <p class="bootslander-small-heading">Contact</p>
            <h2 class="primary-heading">CONTACT US</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="address-left-section">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="contact-icon-parent">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.25em" height="1.25em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                                        <rect x="0" y="0" width="16" height="16" fill="none" stroke="none" />
                                        <g fill="currentColor">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/><path d="M8 8a2 2 0 1 1 0-4a2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6a3 3 0 0 0 0 6z"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="contact-address-parent">
                                    <h3 class="address-heading">Location:</h3>
                                    <p class="address-text">A108 Adam Street, New York, NY 535022</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="address-left-section">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="contact-icon-parent">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.25em" height="1.25em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                                        <rect x="0" y="0" width="16" height="16" fill="none" stroke="none" />
                                        <g fill="currentColor">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2l7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.708 2.825L15 11.105V5.383zm-.034 6.876l-5.64-3.471L8 9.583l-1.326-.795l-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741zM1 11.105l4.708-2.897L1 5.383v5.722z"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="contact-address-parent">
                                    <h3 class="address-heading">Email:</h3>
                                    <p class="address-text">info@example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="address-left-section">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="contact-icon-parent">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.25em" height="1.25em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                                        <rect x="0" y="0" width="16" height="16" fill="none" stroke="none" />
                                        <g fill="currentColor">
                                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/><path d="M8 14a1 1 0 1 0 0-2a1 1 0 0 0 0 2z"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="contact-address-parent">
                                    <h3 class="address-heading">Call:</h3>
                                    <p class="address-text">+1 5589 55488 55s</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <form class="form-right-section">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                                    <input type="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Your Name">
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">Password</label> -->
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Message"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-send-msg">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
